.capa {
    position: relative;

}

.texto {
    position: absolute;
    bottom: 10px;
    left: 70px;
    top: 50%;
    font-size: 3vm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
   

}
.button {
    padding: 10px 70px ;
    margin: 20px;
    font-style: italic;
    
}

p {
    padding: 10px;
    font-size: 34px;
}